contourpy==1.3.2
cycler==0.12.1
flake8==7.2.0
fonttools==4.58.2
kiwisolver==1.4.8
matplotlib==3.10.3
mccabe==0.7.0
numpy==2.3.0
opencv-python==4.11.0.86
packaging==25.0
pillow==11.2.1
pycodestyle==2.13.0
pyflakes==3.3.2
pyparsing==3.2.3
python-dateutil==2.9.0.post0
six==1.17.0
